@inject NavigationManager NavigationManager

<button @onclick="GoToHome"
    class="btn btn-outline-dark ">
    Harry
</button>
@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }

}
